<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>备案管理系统</title>
<link type="text/css" rel="stylesheet" href="../../css/style.css" />
<link type="text/css" rel="stylesheet" href="../../css/public.css" />
<link type="text/css" rel="stylesheet" href="../../css/staff.css" />
<link rel="stylesheet" href="../../css/AjaxPage.css" type="text/css" />
<link rel="stylesheet" href="../../css/bomb_box.css" type="text/css" />
<link rel="stylesheet" href="../../css/alert.css" type="text/css"></link>

<script type="text/javascript" src="../../css/loadcss/download/loadDiv.js"></script>
<script type="text/javascript" src="../../css/loadcss/download/modernizr-2.8.2.js"></script>
<link rel="stylesheet" href="../../css/loadcss/download/load4.css" type="text/css"></link>
<script type="text/javascript" src="../../js/jquery-1.9.1.js"></script>
</head>
<body>

<section class="publicMian ">
    <div class="right"  ng-app="myApp" ng-controller="siteCtrl">
        <div class="location">
            <strong>你现在所在的位置是:</strong> <span>图书信息管理界面</span>
        </div>
        <div class="search">
                <span>书名：</span> <input id="sn11" placeholder="默认全部" name="StaffName" type="text" value="">
                <span>图书编号：</span> <input id="snnumber" placeholder="默认全部" type="text" value="">
                <span>出版社：</span> <input id="snbook" placeholder="默认全部" type="text" value="">
                <span>作者：</span> <input id="snauth" placeholder="默认全部"  type="text" value="">
				
                <input value="查 询" type="button" id="searchbutton" ng-click="findByText()">
                <!--导出备案  -->
                <input value="导出图书" type="button" onclick="checkfind()">
                <!--添加备案  -->
                <a href="add.html?fid=8" id="bookremote">添加图书</a>

        </div>
        <!--供应商操作表格-->
        <table class="providerTable" id="table" cellpadding="0" cellspacing="0">

            <tr class="firstTr">
            <!--     <th width="10%">编号</th> -->
                <th width="10%">书名</th>
                <th width="10%">图书编号</th>
                <th width="10%">出版社</th>
                <th width="10%">作者</th>
                <th width="10%">创建人</th>
                <th width="10%">日期</th>
                <th width="5%">册数</th>
                <th width="7%">定价</th>
                <th width="10%">备注</th>
                <th width="8%">操作</th>
            </tr>

            <tr ng-repeat="x in names">
              <!--   <td>{{ x.number}}</td> -->
                <td>{{ x.name}}</td>
                <td>{{ x.serialNumber}}</td>
                <td>{{ x.publisher}}</td>
                <td>{{ x.author}}</td>
                <td>{{ x.sname}}</td>
                <td>{{ x.creationDate}}</td>
                <td>{{ x.total}}</td>
                <td>{{ x.price}}</td>
                <td>{{ x.detail}}</td>
                <td id="d1" style="display: none">{{ x.id}}</td>
                <td ng-if="x.psid==0">

                    <span>
                        <a  ng-click="del(x.id)"  class='deleteBill'>
						    <img src='../../images/schu.png' alt='删除' title='删除'/></a>
					</span>

					<span>
                        <a ng-click="updateBook(x.id)"  class='modifyBill'>
						    <img src='../../images/xiugai.png' alt='修改' title='修改'/></a>
					</span>

                </td>
                <td ng-if="x.psid!=0">
						--
                    

                </td>
            </tr>
        </table>

        <!--分页  -->
        <div id="page" class="page_div"/>


    </div>
</section>
<div id="alert" class="alert">
    <span id="mas" class="mas"></span><br />
    <span class="line">. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
    <p id="info" class="info"></p>
    <button id="but1" onclick="hide4()" class="but1">确认</button><button id="but2"  onclick="hide4()" class="but2">取消</button>
</div>

<div id="a" class="a">
</div>

</body>



<script type="text/javascript" src="../../js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="../../js/pageMe.js"></script>
<script type="text/javascript" src="../../js/angular.min.js"></script>
<script type="text/javascript" src="../../js/alert.js"></script>
<script type="text/javascript" src="../../ajaxJs/book.js"></script>


</html>
