<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
         http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
             
<context:component-scan base-package="hr.manage.controller,textB.*"></context:component-scan>
	<!-- 资源文件映射 -->
	<mvc:resources mapping="/css/**" location="/css/" />
	<mvc:resources mapping="/js/**" location="/js/" />
	<mvc:resources mapping="/calendar/**" location="/calendar/" />
	<mvc:resources mapping="/images/**" location="/images/" />
	<mvc:resources mapping="/uploads/**" location="/uploads/" />
	<mvc:resources mapping="/**/*.html" location="/" />

	<!-- 视图解析器 作用:把逻辑视图加上前后缀生成实际的物理路径 -->
	<!-- <bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/Manage/"></property>
		<property name="suffix" value=".html"></property>
	</bean> -->
	<mvc:annotation-driven />
		<mvc:default-servlet-handler/>
	<!-- 文件上传解析器 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"			
		p:maxInMemorySize="10485760"			
		p:maxUploadSize="10485760"
		p:defaultEncoding="utf-8"		
		p:resolveLazily="true"
	/>
	<!-- 配置全局异常信息 -->
	<bean
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.RuntimeException">error</prop>
			</props>
		</property>
	</bean>
	<mvc:interceptors>
		<mvc:interceptor>
		<mvc:mapping path="/**/manage/**/**"/>
			<mvc:exclude-mapping path="/**/login.html" />
			<mvc:exclude-mapping path="/**/error.html" />
			<mvc:exclude-mapping path="/**/Permissions.html" />
			<mvc:exclude-mapping path="/**/user/*.do" /> 
			<bean class="hr.manage.filter.SpringMVCInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
		       <mvc:mapping path="/hrm/**/**"/>
		       <bean class="hr.manage.filter.SpringMVCInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors> 

</beans>